    <h1>Bem-vindo à Página Inicial</h1>
    <p>Seja bem-vindo! Escolha uma das opções abaixo:</p>
    <ul>
        <li><a href="/produtos">Ver Produtos</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/register">Registrar</a></li>
    </ul>

